In [1]:
library(missForest)

In [2]:
year <- '2011'

In [3]:
apparent_temp <- read.csv("/global/cfs/cdirs/m1532/Projects_MVP/geospatial/Climate_Met_Office/apparent_temperature/AT_daily_by_year/AT_daily_2011.csv")
head(apparent_temp)

  X     year month day longitude latitude coor               fips AT_mean
1 65431 2011 1     1   -124.160  40.810   (40.81, -124.16)   6023  4.373404
2 65432 2011 1     1   -123.200  39.128   (39.128, -123.2)   6033  2.144182
3 65433 2011 1     1   -123.200  39.128   (39.128, -123.2)   6045  2.144182
4 65434 2011 1     1   -121.817  37.700   (37.7, -121.817)   6001  3.711880
5 65435 2011 1     1   -121.433  39.133   (39.133, -121.433) 6115  2.103692
6 65436 2011 1     1   -120.709  39.276   (39.276, -120.709) 6017 -6.520415
  AT_min     AT_max
1  1.3365097  6.214264
2 -0.7770157  4.292999
3 -0.7770157  4.292999
4  0.8821945  6.445694
5  0.3692856  4.624496
6 -8.6697006 -4.243416

In [4]:
apparent_temp$fips <- as.character(apparent_temp$fips)
# Convert the integer column to a character with leading zeros
apparent_temp$fips <- formatC(as.integer(apparent_temp$fips), width = 5, format = "d", flag = "0")
head(apparent_temp)

  X     year month day longitude latitude coor               fips  AT_mean
1 65431 2011 1     1   -124.160  40.810   (40.81, -124.16)   06023  4.373404
2 65432 2011 1     1   -123.200  39.128   (39.128, -123.2)   06033  2.144182
3 65433 2011 1     1   -123.200  39.128   (39.128, -123.2)   06045  2.144182
4 65434 2011 1     1   -121.817  37.700   (37.7, -121.817)   06001  3.711880
5 65435 2011 1     1   -121.433  39.133   (39.133, -121.433) 06115  2.103692
6 65436 2011 1     1   -120.709  39.276   (39.276, -120.709) 06017 -6.520415
  AT_min     AT_max
1  1.3365097  6.214264
2 -0.7770157  4.292999
3 -0.7770157  4.292999
4  0.8821945  6.445694
5  0.3692856  4.624496
6 -8.6697006 -4.243416

In [5]:
print(length(unique(apparent_temp$fips)))

[1] 1739

In [6]:
county <- read.csv('/global/cfs/cdirs/m1532/Projects_MVP/geospatial/Climate_Suicide_Analysis/Climate_After_Imputation/county_adjacency.csv')
county$fips <- as.character(county$fips)
county$fips <- formatC(as.integer(county$fips), width = 5, format = "d", flag = "0")
head(county)

  X county               fips
1 0 Abbeville County, SC 45001
2 1 Acadia Parish, LA    22001
3 2 Accomack County, VA  51001
4 3 Ada County, ID       16001
5 4 Adair County, IA     19001
6 5 Adair County, KY     21001
  Neighbors
1 Elbert County, GA, Abbeville County, SC, Anderson County, SC, Greenville County, SC, Greenwood County, SC, Laurens County, SC, McCormick County, SC
2 Acadia Parish, LA, Evangeline Parish, LA, Jefferson Davis Parish, LA, Lafayette Parish, LA, St. Landry Parish, LA, Vermilion Parish, LA
3 Somerset County, MD, Worcester County, MD, Accomack County, VA, Lancaster County, VA, Mathews County, VA, Middlesex County, VA, Northampton County, VA, Northumberland County, VA
4 Ada County, ID, Boise County, ID, Canyon County, ID, Elmore County, ID, Gem County, ID, Owyhee County, ID
5 Adair County, IA, Adams County, IA, Audubon County, IA, Cass County, IA, Dallas County, IA, Guthrie County, IA, Madison County, IA, Union County, IA
6 Adair County, KY, Casey County, KY, Cumberland County, KY, Green County, KY, Metcalfe County, KY, Russell County, KY, Taylor County, KY
  Neighbor.Code
1 13105, 45001, 45007, 45045, 45047, 45059, 45065
2 22001, 22039, 22053, 22055, 22097, 22113
3 24039, 24047, 51001, 51103, 51115, 51119, 51131, 51133
4 16001, 16015, 16027, 16039, 16045, 16073
5 19001, 19003, 19009, 19029, 19049, 19077, 19121, 19175
6 21001, 21045, 21057, 21087, 21169, 21207, 21217

In [7]:
apparent_temp$date <- as.Date(paste(apparent_temp$year, apparent_temp$month, apparent_temp$day, sep = "-"), format = "%Y-%m-%d")
head(apparent_temp)

  X     year month day longitude latitude coor               fips  AT_mean
1 65431 2011 1     1   -124.160  40.810   (40.81, -124.16)   06023  4.373404
2 65432 2011 1     1   -123.200  39.128   (39.128, -123.2)   06033  2.144182
3 65433 2011 1     1   -123.200  39.128   (39.128, -123.2)   06045  2.144182
4 65434 2011 1     1   -121.817  37.700   (37.7, -121.817)   06001  3.711880
5 65435 2011 1     1   -121.433  39.133   (39.133, -121.433) 06115  2.103692
6 65436 2011 1     1   -120.709  39.276   (39.276, -120.709) 06017 -6.520415
  AT_min     AT_max    date
1  1.3365097  6.214264 2011-01-01
2 -0.7770157  4.292999 2011-01-01
3 -0.7770157  4.292999 2011-01-01
4  0.8821945  6.445694 2011-01-01
5  0.3692856  4.624496 2011-01-01
6 -8.6697006 -4.243416 2011-01-01

In [8]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [9]:
num_rows <- nrow(apparent_temp)
group_indices <- ceiling(seq_len(num_rows) / (num_rows / 10))

chunks <- apparent_temp %>% 
  mutate(Chunk = group_indices) %>%
  group_by(Chunk) %>%
  group_split()

In [10]:
chunk1 <- chunks[[1]]
chunk2 <- chunks[[2]]
chunk3 <- chunks[[3]]
chunk4 <- chunks[[4]]
chunk5 <- chunks[[5]]
chunk6 <- chunks[[6]]
chunk7 <- chunks[[7]]
chunk8 <- chunks[[8]]
chunk9 <- chunks[[9]]
chunk10 <- chunks[[10]]

In [11]:
data1 <- list()
for (date in unique(chunk1$date)) {
  df_day <- subset(chunk1, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data1[[length(data1) + 1]] <- df_merged
}

df_new1 <- do.call(rbind, data1)
head(df_new1)

  fips  county             X      year month day longitude latitude
1 01001 Autauga County, AL 108447 2011 11    11  -86.35    32.383
2 01001 Autauga County, AL 114657 2011 12    26  -86.35    32.383
3 01001 Autauga County, AL  69885 2011  2     2  -86.35    32.383
4 01001 Autauga County, AL  93721 2011  7    27  -86.35    32.383
5 01001 Autauga County, AL 102382 2011  9    28  -86.35    32.383
6 01001 Autauga County, AL 109275 2011 11    17  -86.35    32.383
  coor             AT_mean   AT_min    AT_max   date       Chunk
1 (32.383, -86.35)  4.900065 -3.000107 14.14954 2011-11-11 1
2 (32.383, -86.35)  8.680571  5.222893 12.48929 2011-12-26 1
3 (32.383, -86.35)  3.673612 -6.401901 17.55040 2011-02-02 1
4 (32.383, -86.35) 31.000094 27.084625 37.30582 2011-07-27 1
5 (32.383, -86.35) 24.521913 21.178429 27.04605 2011-09-28 1
6 (32.383, -86.35) 11.342355  5.371841 23.13589 2011-11-17 1

In [23]:
3223*365

[1] 1176395

In [12]:
print(length(unique(chunk1$fips)))

[1] 236

In [13]:
print(length(unique(df_new1$fips)))

[1] 3233

In [14]:
data_full <- list()
data_full[[length(data_full) + 1]] <- df_new1

In [15]:
data2 <- list()
for (date in unique(chunk2$date)) {
  df_day <- subset(chunk3, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data2[[length(data2) + 1]] <- df_merged
}
df_new2 <- do.call(rbind, data2)
data_full[[length(data_full) + 1]] <- df_new2

In [16]:
data3 <- list()
for (date in unique(chunk3$date)) {
  df_day <- subset(chunk3, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data3[[length(data3) + 1]] <- df_merged
}
df_new3 <- do.call(rbind, data3)
data_full[[length(data_full) + 1]] <- df_new3

In [18]:
data4 <- list()
for (date in unique(chunk4$date)) {
  df_day <- subset(chunk4, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data4[[length(data4) + 1]] <- df_merged
}
df_new4 <- do.call(rbind, data4)
data_full[[length(data_full) + 1]] <- df_new4

In [19]:
data5 <- list()
for (date in unique(chunk5$date)) {
  df_day <- subset(chunk5, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data5[[length(data5) + 1]] <- df_merged
}

In [20]:
df_new5 <- do.call(rbind, data5)
data_full[[length(data_full) + 1]] <- df_new5

In [21]:
data6 <- list()
for (date in unique(chunk6$date)) {
  df_day <- subset(chunk6, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data6[[length(data6) + 1]] <- df_merged
}
df_new6 <- do.call(rbind, data6)
data_full[[length(data_full) + 1]] <- df_new6

In [22]:
data7 <- list()
for (date in unique(chunk7$date)) {
  df_day <- subset(chunk7, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data7[[length(data7) + 1]] <- df_merged
}
df_new7 <- do.call(rbind, data7)
data_full[[length(data_full) + 1]] <- df_new7

In [ ]:
data8 <- list()
for (date in unique(chunk8$date)) {
  df_day <- subset(chunk8, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data8[[length(data8) + 1]] <- df_merged
}
df_new8 <- do.call(rbind, data8)
data_full[[length(data_full) + 1]] <- df_new8

In [ ]:
data9 <- list()
for (date in unique(chunk9$date)) {
  df_day <- subset(chunk9, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data9[[length(data9) + 1]] <- df_merged
}
df_new9 <- do.call(rbind, data9)
data_full[[length(data_full) + 1]] <- df_new9

In [ ]:
data10 <- list()
for (date in unique(chunk10$date)) {
  df_day <- subset(chunk10, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data10[[length(data10) + 1]] <- df_merged
}
df_new10 <- do.call(rbind, data10)
data_full[[length(data_full) + 1]] <- df_new10

In [ ]:
data_full <- list()
for (item in chunks) {
    data_chunk <- list()
    for (date in unique(item$date)) {
      df_day <- subset(item, date == date)
      df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
      data_chunk[[length(data_chunk) + 1]] <- df_merged
    }
    df_chunk <- do.call(rbind, data_chunk)
    data_full[[length(data_full) + 1]] <- df_chunk
}
df_new <- do.call(rbind, data_full)

In [ ]:
data2 <- list()
for (date in unique(chunk2$date)) {
  df_day <- subset(chunk2, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data2[[length(data2) + 1]] <- df_merged
}
df_new2 <- do.call(rbind, data2)

data3 <- list()
for (date in unique(chunk2$date)) {
  df_day <- subset(chunk2, date == date)
  df_merged <- merge(county[, c("county", "fips")], df_day, by = "fips", all.x = TRUE)
  data2[[length(data2) + 1]] <- df_merged
}
df_new2 <- do.call(rbind, data2)